//
   Created by una on 3/26/15.
extends layout

block content
   div.container(ng-controller='quizController')
      div.col-sm-6.col-sm-offset-3
         div.form
            h4.question(ng-show="i < questionSets.length") {{ questionSets[i].question }}
            div.answers(ng-show="i < questionSets.length")
               //did not use ng-repeat here because of difficulty using ng-value to force check previously stored answers
               div.form-group
                  input(name='choice' type='radio' value='0')
                  label {{questionSets[i].answers[0]}}
               div.form-group
                  input(name='choice' type='radio' value='1')
                  label {{questionSets[i].answers[1]}}
               div.form-group
                  input(name='choice' type='radio' value='2')
                  label {{questionSets[i].answers[2]}}
               div.form-group
                  input(name='choice' type='radio' value='3')
                  label {{questionSets[i].answers[3]}}

         button.btn.btn-success.prev(ng-class="{'vis-hidden': i === 0 || i === questionSets.length}" ng-click='prev()') PREV
         button.btn.btn-success(ng-show='i < questionSets.length-1;' ng-click='next()') NEXT
         button.btn.btn-info.calculate(ng-show='i  === questionSets.length-1' ng-click='calculateScore()') CALCULATE
         p#error Choose an answer!
         h1#score {{score}}

