extends layout
block content
    div.container
        div.col-sm-6.col-sm-offset-3
            h1 Login
            if message.length > 0
                div.alert.alert-danger= message
            form(action='/signup' method='post')
                div.form-group
                    label Email
                    input.form-control(type='text' name='email')
                div.form-group
                    label Password
                    input.form-control(type='password' name='password')
                button.btn.btn-warning.btn-lg(type='submit') Signup
            p Need an account?
                a(href='/login') Login
            p Or go
                a(href='/')  Home
