body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#error {
  color: red;
  display: none;
}

.vis-hidden {
  visibility: hidden;
}

h3.question {
  height: 50px;
}

input[type="radio"] {
  margin-right: 10px !important;
}